{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>About Page</h1>
      <p>This came from the template: <span style="font-weight: bold;color: blue;">{{index .StringMap "test"}}</span></p>
      <p>
        {{if ne (index .StringMap "remote_ip") ""}}
          Your remote IP address is {{index .StringMap "remote_ip"}}
        {{else}}
          I don't know your ip address yet. Visit the <a href="/">Home</a> page first.
        {{end}}
      </p>
      <a class="btn btn-primary" href="/">Go To Home Page</a>
    </div>
  </div>
</div>
{{end}}