{{template "base" .}} {{define "content"}}
<div class="container">
  <div class="row">
    <div class="col-lg-12 mt-4"><img src="/static/images/marjors-suite.png" class="img-fluid rounded mx-auto d-block" alt="room image"></div>
  </div>
  <div class="row">
    <div class="col">
        <h1 class="text-center mt-4">Major's Suite</h1>
        <p>
          Your home away from home, set on the majestic waters of thew Atlantic
          Ocean, this will be a vacation to remember.
          Your home away from home, set on the majestic waters of thew Atlantic
          Ocean, this will be a vacation to remember.
          Your home away from home, set on the majestic waters of thew Atlantic
          Ocean, this will be a vacation to remember.
          Your home away from home, set on the majestic waters of thew Atlantic
          Ocean, this will be a vacation to remember.
          Your home away from home, set on the majestic waters of thew Atlantic
          Ocean, this will be a vacation to remember.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <a href="/make-reservation" class="btn btn-success">Check Availability</a>
      </div>
    </div>
  </div>
{{end}}
